{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
    <section class="container-fluid home">
        <img class="loupe" src="/assets/images/loupe.png" alt="une loupe">
        <h1>Bienvenue !</h1>
        <a href="/Game/index">Jouer au Jeu</a>
    </section>
{% endblock %}
