{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid first-page align-middle d-flex align-items-lg-center pages">
        <div class="d-flex flex-column px-3 pt-3 bubble mx-lg-auto ">
            <p>Oh Non !! le [TABLEAU] a disparu! cherchons un indice pour tenter de le retrouver ...</p>
            <figure class="d-flex justify-content-end ">
                <img src="/assets/images/thinking_sidekick.png" alt="">
            </figure>
        </div>
    </div>
    <form class="icon-click" action="" method="post">
        <label for="page"></label>
        <input type="text" name="page" value="second" hidden>
        <button class=""><img src="/assets/images/thinking_sidekick.png" alt=""></button>
    </form>
{% endblock %}
