{% extends 'layout.html.twig' %}

{% block content %}
    <section class="game container-fluid">
    <form method="post" action="">
        <label for="page">Page : </label>
        <input type="text" id="page" name="page">
        <button>Aller</button>
    </form>
    </section>
{% endblock %}
