{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <div>
            <p>Bravo ! Tu as trouvé l'indice : {{ indice.name }}. À ton avis de quel pays s'agit il ?</p>
            <div>
                <form action="">
                    <button></button>
                </form>
                <form action="">
                    <button></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}