{% extends 'layout.html.twig' %}

{% block content %}
    <div class="fifth-page container-fluid d-flex justify-content-center flex-column pages">
        <form class="icon-click-first" action="" method="post">
            <label for="page"></label>
            <input type="text" name="page" value="" hidden>
            <button class=""><img src="/assets/images/timbre.png" alt=""></button>
        </form>
        <form class="icon-click-second" action="" method="post">
            <label for="page"></label>
            <input type="text" name="page" value="" hidden>
            <button class=""><img src="/assets/images/carte_postale.png" alt=""></button>
        </form>
        <form class="icon-click-third" action="" method="post">
            <label for="page"></label>
            <input type="text" name="page" value="" hidden>
            <button class=""><img src="/assets/images/bouton.png" alt=""></button>
        </form>
        <form class="icon-click-fourth" action="" method="post">
            <label for="page"></label>
            <input type="text" name="page" value="seventh" hidden>
            <button class=""><img src="/assets/images/timbre.png" alt=""></button>
        </form>
    </div>
{% endblock %}