{% extends 'layout.html.twig' %}

{% block content %}
<div class="third-page container-fluid d-flex justify-content-center flex-column pages">
    <div class="bubble mx-auto pt-3">
        <p>Allons y !!</p>
        <figure class="d-flex justify-content-end ">
            <img src="/assets/images/happy_sidekik.png" alt="">
        </figure>
    </div>
    <div>
        <form class="d-flex justify-content-end" action="" method="post">
            <label for="page"></label>
            <input type="text" name="page" value="fifth" hidden>
            <button class="btn-lg mt-5 ">Continuer !</button>
        </form>
</div>



{% endblock %}