{% extends 'layout.html.twig' %}

{% block content %}
<div>
    <div class="bubble">
        <p>Allons y !!</p>
        <figure>
            <img src="../../assets/images/happy_sidekik.png" alt="">
        </figure>
    </div>
    <div>
        <figure>
            <img src="" alt="">
        </figure>
    </div>
</div>



{% endblock %}