.final-page{
    background-image: url("/assets/images/museum.png");
    padding-top: 50px;
}
.fenetre img{
    max-width: 30vw;
    max-height: 70vh;
    padding: 10px;
}
.fenetre{
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: var(--colorBubble);
}
h1, h2, h3{
    text-align: center;
    width: 100%;
}
.desc{
    width: 100%;
    position: relative;
    padding: 20px;
}
button{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10vw);
    height: 10vh;
    width: 20vw;
}
.desc p{
    padding: 20px;
}