.second-page div:first-child {
    width: 40%;
}

.second-page figure {
    width: 100%;
    margin: 0;
    margin-top: 5%;
}
.second-page figure img {
    width: 50%;
}
@media screen and (max-width:768px) {
    .second-page div:first-child {
        width: 80%;
    }
}
@media screen and (max-width:375px) {
    .second-page div:first-child {
        width: 90%;
    }
}