@import "first.css";
@import "second.css";
@import "third.css";
@import "fifth.css";
@import "final.css";
:root{
    --colorMain: #2a1a1f;
    --colorSecondary: #776472;
    --colorBorder: #3D2008;
    --colorText: #F9DADA;
    --colorButton: #7EB4E9;
    --colorBubble: rgba(57, 44, 33, 0.9)
}
body{
    background-color: var(--colorMain);
    color: var(--colorText);
            height: 100vh;
            width: 100vw;

}
.bubble {
    border: solid 8px var(--colorBorder);
    border-radius: 15px;
    font-size: 25px;
    color: var(--colorText);
    background-color: var(--colorBubble);
}
.navbar{
    border-bottom: 1px solid var(--colorBorder);
    height: 10vh;
}
.bg-dark{
    background-color: var(--colorMain) !important;
}
.game{
    padding-top: 70px;
}
.pages {
    height: 80vh;
}
button {
    border: 2px solid var(--colorText);
    color: var(--colorText);
    background-color: transparent;
    border-radius: 10px;

}
button:hover{
    background-color: var(--colorBorder);
}